label
{
  @extend %flex-center;
  @include size( 100%, null );

  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;

  padding-left: $padding;

  color: $colorBackground;
  background-color: $colorColor;

  border: $borderWidth solid $colorColor;
  border-left: 0;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;

  > *
  {
    margin-left: $padding;
  }
}