$colorBackground: #222222;
$colorBorder: #045757;
$colorColor: #a9c52f;
$colorHover: #e0bb20;

$animationDuration: 1.5s;
$animationEasing: linear;
$animation: $animationDuration $animationEasing infinite;

$transitionDuration: .35s;
$transitionEasing: ease-in-out;
$transition: $transitionDuration $transitionEasing;

$borderWidth: 2.5px;
$border: $borderWidth solid $colorBorder;

$radius: 5px;

$padding: 10px;

$sizeLoader: 300px;
$sizeDollar: .65 * $sizeLoader;
$sizeSlot: 10px;

$sizeWidthWrapper: 600px;
$sizeHeightWrapper: 800px;

$sides: ( top, right, bottom, left );
$states: ( entering, entered, exiting, exited );